{% extends "layout.twig" %}

{% block content %}

<a name="top"></a>

<header>
    <div class="wrapper clearfix">
        <div class="header-img clearfix">
            {{widget('image', 'companyimage', { 'src': asset('images/burger-image.png'), 'alt': 'my image', 'fileName': 'my-image.jpg', 'fileSize': '58kb', 'imageSize': '440 x 660', 'imageWidth': '150px'})|raw}}
        </div>
        <!--end header-img-->
        <div class="header-name clearfix">
            {{widget('companyname', 'companyname', {"business": "MARLIES"})|raw}}
            {{widget('content', 'companystrapline', {content: '<h3>Burgers &amp; Shakes</h3>', lines: 'all'})|raw}}
        </div>
        <!--end header-company-name-->
        <div class="header-img clearfix">
            {{widget('image', 'companyimage', { 'src': asset('images/shakes.png'), 'alt': 'my image', 'fileName': 'my-image.jpg', 'fileSize': '58kb', 'imageSize': '150px x 85px', 'imageWidth': '85px'})|raw}}
        </div>
        <!--end header-img-->
      </div>
    <!--end wrapper -->

    {{widget('menusections', 'menusections1', {})|raw}}
    
</header>

<div class="main wrapper">

    {{widget('menu', 'menu1', {})|raw}}

</div>

<footer>
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-three-33-34-33 offers">
            <div class="column columns-three-left">
                {{widget('content', 'company-address', {content: '<h3>Find Us</h3>', lines: 'all'})|raw}}
                {{widget('companyaddress', 'thisunqiuewidgetname', {})|raw}}
            </div> 
            <div class="column columns-three-middle">
                {{widget('content', 'contactheadline', {content: '<h3>Contact Us</h3>', lines: 'all'})|raw}}
                {{widget('content', 'contactcontent', {content: '<p>This is a content widget.</p>', lines: 'all'})|raw}}
            </div>
            <div class="column columns-three-right">
                {{widget('content', 'openheading', {content: '<h3>Opening Hours</h3>', lines: 'all'})|raw}}
                {{widget('content', 'opencontent', {content: '<p>This is a content widget.</p>', lines: 'all'})|raw}}
            </div> 
        </div> 
    </div>
</footer>

{% endblock %}
