{% extends "layout.twig" %}

{% block content %}

{% if pages|length > 1 %}
{{widget('extendednavigation', 'navigationheader', {})|raw}}
{% endif %}
<header class="bk-header">
    <div class="wrapper clearfix">
        <div class="header-img left clearfix">
            {{widget('image', 'headercolumn1image', { 'src': asset('images/burger-image.png'), 'alt': 'my image', 'fileName': 'my-image.jpg', 'fileSize': '58kb', 'imageSize': '240 x 157', 'imageWidth': '240px'})|raw}}
        </div>
        <!--end header-img-->
        <div class="header-name clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            {{widget('content', 'companystrapline', {content: '<h3>Lorem Ipsum</h3>', lines: 'all'})|raw}}
        </div>
        <!--end header-company-name-->
        <div class="header-img right clearfix">
            {{widget('image', 'headercolumn3image', { 'src': asset('images/shakes.png'), 'alt': 'my image', 'fileName': 'my-image.jpg', 'fileSize': '58kb', 'imageSize': '240px x 157px', 'imageWidth': '240px'})|raw}}
        </div>
        <!--end header-img-->
      </div>
    <!--end wrapper -->
</header>

<div class="main wrapper">
    {{zone('main')|raw}}
</div>

<footer class="bk-footer">
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-three-33-34-33 offers">
            <div class="column columns-three-left">
                {{widget('content', 'footercolumn1content', {content: '<h3>Lorem Ipsum</h3>', lines: 'all'})|raw}}
                {{widget('companyaddress', 'footercolumn1companyaddress', {})|raw}}
            </div> 
            <div class="column columns-three-middle">
                {{widget('content', 'footercolumn2content', {content: '<h3>Lorem Ipsum</h3>', lines: 'all'})|raw}}
                {{widget('content', 'footercolumn2content2', {content: '<p>.</p>', lines: 'all'})|raw}}
            </div>
            <div class="column columns-three-right">
                {{widget('content', 'footercolumn3content', {content: '<h3>Lorem Ipsum</h3>', lines: 'all'})|raw}}
                {{widget('content', 'footercolumn3content2', {content: '<p></p>', lines: 'all'})|raw}}
            </div> 
        </div> 
    </div>
</footer>

{% endblock %}
